In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('annotated_jobs_with_bias.csv')
df.head()

,description,company_description,biases_detected,flagged_words
0,**A World\-Class Team**\n\n\nBJ’s Wholesale Cl...,"At BJ's Wholesale Club, every Team Member has ...",lgbtq,lifestyle
1,**A World\-Class Team**\n\n\nBJ’s Wholesale Cl...,"At BJ's Wholesale Club, every Team Member has ...",lgbtq,lifestyle
2,**Job description**\n\n**Title:** Sales Adviso...,"Mission: Today and every day, our neighbors tr...",family_status,flexible schedule
3,Are you ready to embark on an exhilarating adv...,"We specialize in in Pest, Mosquito, Fire Ant, ...",gender,handyman|competitive|supportive
4,"We are looking for enthusiastic, team\-oriente...",The mission of MassageLuXe is to provide an un...,family_status,flexible schedule

In [8]:
df1 = pd.read_csv('synthetic_jobs_detailed_3000.csv')
df1.head()

,description,company_description
0,**A World-Class Team**\n\nParadise Gardens & D...,"Join Paradise Gardens & Design, where innovati..."
1,**A World-Class Team**\n\nPremier Grounds Mana...,"Join Premier Grounds Management, where innovat..."
2,**A World-Class Team**\n\nMediCare Group is po...,MediCare Group has been serving the community ...
3,**A World-Class Team**\n\nSkyline Construction...,"Join Skyline Construction Co., where innovatio..."
4,**A World-Class Team**\n\nQuality Goods Manufa...,Quality Goods Manufacturing is a leading provi...

In [10]:
# can you append df1 and newdf1?
new_df = df[['description', 'company_description']] 
new_df2 = pd.concat([df1, new_df], ignore_index=True)
new_df2.head()

,description,company_description
0,**A World-Class Team**\n\nParadise Gardens & D...,"Join Paradise Gardens & Design, where innovati..."
1,**A World-Class Team**\n\nPremier Grounds Mana...,"Join Premier Grounds Management, where innovat..."
2,**A World-Class Team**\n\nMediCare Group is po...,MediCare Group has been serving the community ...
3,**A World-Class Team**\n\nSkyline Construction...,"Join Skyline Construction Co., where innovatio..."
4,**A World-Class Team**\n\nQuality Goods Manufa...,Quality Goods Manufacturing is a leading provi...

In [ ]:

new_df2.to_csv('synthetic_jobs_detailed_5212.csv', index=False)
new_df2.head()

,description,company_description
0,**A World-Class Team**\n\nParadise Gardens & D...,"Join Paradise Gardens & Design, where innovati..."
1,**A World-Class Team**\n\nPremier Grounds Mana...,"Join Premier Grounds Management, where innovat..."
2,**A World-Class Team**\n\nMediCare Group is po...,MediCare Group has been serving the community ...
3,**A World-Class Team**\n\nSkyline Construction...,"Join Skyline Construction Co., where innovatio..."
4,**A World-Class Team**\n\nQuality Goods Manufa...,Quality Goods Manufacturing is a leading provi...

In [36]:
new_df2[0:3000].to_csv('synthetic_jobs_detailed_3000.csv', index=False)
new_df2[3000:5251].to_csv('synthetic_jobs_detailed_2251.csv', index=False)

In [37]:
new_df2[0:400].to_csv('synthetic_jobs_detailed_400.csv', index=False)

In [31]:
new_df2.to_csv('job_descriptions.csv', index=False)

In [32]:
print(new_df2.shape)

(5251, 2)

In [33]:
df2 = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/job_descriptions.csv')

In [34]:
len(df2)

5251

In [40]:
df3 =pd.read_json('/Users/sruthishivaramakrishnan/Documents/CSE595_project/personas.jsonl', lines=True)

In [41]:
df3.head()

,error,raw,row,_row,_title_from_job
0,json_parse_failed,ideal candidate will bring a combination of te...,0,0,"Join Paradise Gardens & Design, where innovati..."
1,json_parse_failed,namic team committed to excellence in grounds ...,1,1,"Join Premier Grounds Management, where innovat..."
2,json_parse_failed,deal candidate will bring a combination of tec...,2,2,MediCare Group has been serving the community ...
3,json_parse_failed,e ideal candidate will bring a combination of ...,3,3,"Join Skyline Construction Co., where innovatio..."
4,json_parse_failed,"summary"": ""The ideal candidate will bring a co...",4,4,Quality Goods Manufacturing is a leading provi...

In [48]:
df4 = pd.DataFrame()
df4['description'] = df2['description']
df4['company_description'] = df2['company_description']
df4['ideal_persona'] = df3['raw']


# add 3000 to last row to df4

In [49]:
len(df4)

5251

In [50]:
df4.to_csv('Ideal_personas_Qwen.csv', index=False)

In [112]:
df_claude =pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/claude_personas.csv')
df_gpt =pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/GPT_personas.csv')
df_qwen =pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/Qwen_personas.csv')
df_llama = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/Llama_personas.csv')

In [113]:
df_qwen['new_jd'] = df2['description']

In [114]:
df2.head()

,description,company_description
0,**A World-Class Team**\n\nParadise Gardens & D...,"Join Paradise Gardens & Design, where innovati..."
1,**A World-Class Team**\n\nPremier Grounds Mana...,"Join Premier Grounds Management, where innovat..."
2,**A World-Class Team**\n\nMediCare Group is po...,MediCare Group has been serving the community ...
3,**A World-Class Team**\n\nSkyline Construction...,"Join Skyline Construction Co., where innovatio..."
4,**A World-Class Team**\n\nQuality Goods Manufa...,Quality Goods Manufacturing is a leading provi...

In [115]:
print(df_claude.columns)
print(df_gpt.columns)
print(df_qwen.columns)
print(df_llama.columns)

Index(['description', 'ideal_candidate', 'bias_age', 'bias_gender',
       'bias_lgbtq+', 'bias_family_status', 'bias_race_ethnic',
       'bias_disability', 'bias_socioeconomic', 'bias_appearance',
       'bias_proximity', 'bias_affinity', 'bias_education', 'biases_found'],
      dtype='object')
Index(['persona_id', 'persona', 'job_description'], dtype='object')
Index(['description', 'company_description', 'ideal_persona', 'biases_found',
       'new_jd'],
      dtype='object')
Index(['original_id', 'narrative_persona', 'inferred_attributes',
       'bias_evidence', 'exclusion_risk', 'optimal_candidate',
       'job_description'],
      dtype='object')

In [116]:
description_first = df_claude['description'][0]
description_first

"**A World-Class Team**\n\nDiscovery Charter School is powered by dedicated professionals who make a real impact every day. Whether you're on the front lines serving customers, supporting operations, or shaping strategic initiatives, your work matters and contributes to our collective success.\n\nWe're a team built on purpose and opportunity. Join us and be part of something meaningful.\n\n\n**Why You'll Love Working Here**\n\nWe understand that great benefits matter. Our comprehensive package is designed to support you and your family in all aspects of life.\n\n**Here's what you can look forward to:**\n\n* **Professional Development:** Access to training programs, tuition reimbursement, and career advancement opportunities.\n* **Wellness Programs:** Comprehensive wellness initiatives including gym membership discounts and health screenings.\n* **Continuing Education:** Support for professional certifications and continuing education credits.\n* **Weekly/Bi-Weekly Pay:** Flexible pay schedule options to help you manage your finances on your terms.\n* **Employee Assistance Program:** Confidential counseling and support services for you and your household members.\n* **Stock Purchase Plan:** Opportunity to purchase company stock at a discount through payroll deductions.\n* **Commuter Benefits:** Pre-tax savings on public transportation and parking expenses.\n* **Flexible Spending Accounts:** Pre-tax savings for healthcare and dependent care expenses.\n* **401(k) Retirement Plan:** Build your financial future with competitive company match (up to 6% of eligible compensation).\n* **Health Insurance:** Choose from multiple medical plan options with dental and vision coverage available.\n* **Employee Discounts:** Exclusive discounts on products and services, plus perks with partner companies.\n* **Short/Long-Term Disability:** Income protection when you need it most, with both short-term and long-term disability options.\n\n* Eligibility requirements and waiting periods may vary by position and employment status.\n\n**Job Summary**\n\nWe are seeking a qualified Teaching Assistant to join our team. This position plays a vital role in our operations and offers the opportunity to contribute to a dynamic organization committed to excellence. The ideal candidate will bring a combination of technical expertise, professional skills, and personal qualities that align with our values and culture.\n\n**Our Culture**\n\nJoin a team that values your contributions and invests in your success:\n\n* **Empowerment:** We trust our team members to make decisions and take ownership of their work.\n* **Recognition:** We celebrate achievements and reward excellence through our comprehensive recognition programs.\n* **Development:** We invest in your growth with training, mentorship, and clear career progression paths.\n* **Inclusivity:** We embrace diversity and create a welcoming environment for people of all backgrounds.\n* **Communication:** We maintain open, transparent dialogue at all levels of the organization.\n* **Safety First:** Your well-being is our priority – we maintain rigorous safety standards and protocols.\n* **Community:** We give back to the communities we serve through volunteer programs and charitable initiatives.\n\n**Major Tasks, Responsibilities, and Key Accountabilities**\n\n* Create inclusive classroom environment that promotes respect, encourages participation, and supports social-emotional development alongside academic growth\n* Maintain accurate records of student attendance, grades, behavior incidents, and individualized education plan (IEP) progress, ensuring compliance with school policies\n* Organize and maintain classroom environment with appropriate learning materials, visual aids, and resources that support instructional objectives\n* Participate in school committees, attend faculty meetings, and contribute to school improvement initiatives and community events\n* Develop and implement engaging, standards-aligned lesson plans that accommodate diverse learning styles and differentiate instruction for students of varying abilities\n* Supervise students during class time, transitions, lunch periods, and other assigned duties, ensuring safety and appropriate behavior at all times\n* Assess student learning through formative and summative evaluations, analyze results to inform instruction, and provide timely, constructive feedback to support improvement\n* Communicate regularly with parents and guardians through conferences, progress reports, emails, and phone calls regarding student academic performance and behavior\n* Participate in professional development activities, pursue continuing education opportunities, and stay current with educational research and pedagogical innovations\n* Collaborate with fellow teachers, administrators, counselors, and support staff to coordinate curriculum, share best practices, and address student needs holistically\n* Adapt curriculum and teaching methods for students with special needs, working closely with special education staff to implement accommodations and modifications\n* Integrate technology effectively into instruction using learning management systems, educational software, and digital resources to enhance student learning\n* Implement positive behavior management strategies, establish clear classroom expectations, and address disciplinary issues consistently and fairly\n* Utilize variety of instructional strategies including direct instruction, collaborative learning, hands-on activities, and technology integration to maximize engagement\n* Foster critical thinking skills, encourage student inquiry, and create opportunities for authentic learning experiences that connect content to real-world applications\n\n**Qualifications and Requirements**\n\n* High school diploma or equivalent required; Associate's or Bachelor's degree in related field preferred\n* Minimum 2-3 years of progressive experience in similar role within the industry\n* Strong computer skills including data entry, file management, and basic troubleshooting capabilities\n* Experience with industry-specific software systems and demonstrated ability to learn new technologies quickly\n* Exceptional communication skills with ability to convey complex information clearly to diverse audiences\n* Proven ability to manage multiple priorities, meet deadlines, and adapt to changing circumstances\n* Results-driven mindset with history of meeting or exceeding performance goals and targets\n* Cultural competency and ability to work effectively with diverse populations and perspectives\n* Strong organizational skills with systematic approach to work and meticulous record-keeping\n* Leadership capabilities with experience mentoring, training, or supervising others\n* Stamina to perform physical tasks in varying weather conditions and environmental settings\n* Visual acuity to read documents, computer screens, and observe details at varying distances\n* Valid driver's license with clean driving record required for positions involving vehicle operation\n* Ability to pass background check, drug screening, and other pre-employment requirements\n* Legal authorization to work in the United States with required documentation\n\n**Physical and Environmental Requirements**\n\n* Classroom environment requiring standing, walking, and movement throughout the day while instructing and supervising students\n* Vocal demands from continuous speaking and projecting voice to groups of varying sizes throughout instructional day\n* Occasional lifting of instructional materials, books, and supplies weighing up to 25 pounds when organizing classroom\n* Extended periods of close work including reading student papers, grading assignments, and preparing materials\n* Exposure to common childhood illnesses and need for maintaining healthy practices and hand hygiene\n* May supervise students in various settings including playground, cafeteria, hallways, and off-campus field trips\n* School year schedule with planning time, professional development days, and typical summer break period\n* Evening and weekend time required for lesson planning, grading, parent conferences, and school events\n\n**Compensation**\n\nIn accordance with our commitment to pay transparency and equity, we provide the following compensation information for this position. We carefully consider a wide range of factors when determining salary including but not limited to: location, relevant education, professional experience, demonstrated skills, and internal equity. Actual compensation will be determined through the interview process and may vary based on these factors.\n\nCompetitive salary starting at $40,000 annually\n\n**Equal Opportunity Employer Statement**\n\nDiscovery Charter School is proud to be an equal opportunity employer committed to building a diverse and inclusive workforce. We believe that diverse perspectives and backgrounds strengthen our organization and drive innovation. We provide equal employment opportunities to all qualified applicants and employees regardless of race, color, religion, sex, gender identity, sexual orientation, national origin, age, disability, veteran status, genetic information, or any other legally protected characteristic.\n\nWe are committed to providing reasonable accommodations to individuals with disabilities throughout the application and employment process. If you require accommodation, please contact our Human Resources department to discuss your needs.\n\nAll employment decisions are based on qualifications, merit, and business needs. We do not tolerate discrimination or harassment of any kind and maintain a workplace culture of respect, dignity, and professionalism.\n\n"

In [ ]:
df_claude = df_claude[['description', 'ideal_candidate']].rename(columns={'ideal_candidate': 'Claude_Persona'})
df_gpt = df_gpt[['job_description', 'persona']].rename(columns={'persona': 'GPT_Persona', 'job_description': 'description'})

df_llama = df_llama[['job_description', 'optimal_candidate']].rename(columns={'optimal_candidate': 'Llama_Persona', 'job_description': 'description'})
qwen_map = dict(zip(df_qwen['description'], df_qwen['ideal_persona']))

# Reorder Qwen personas to match Claude descriptions


        
df_merged = df_claude.merge(df_gpt, on='description', how='left')

df_merged = df_merged.merge(df_llama, on='description', how='left')
df_merged['Qwen_Persona'] = df_merged['description'].map(qwen_map)


## get value for which Qwen_Persona is NaN





# Save merged dataframe
df_merged.to_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/merged_personas.csv', index=False)

KeyError: "['ideal_candidate'] not in index"

In [120]:
df_merged[df_merged['Qwen_Persona'].isna()]

,description,Claude_Persona,GPT_Persona,Llama_Persona,Qwen_Persona
1,Retail (Stores)\nR331259\nFull time\nNot Remot...,"Seasoned professional, male, 45-55, Ivy League...","Meet Priya 'Pri' Gupta, a 46-year-old professi...","A 25-35 year old, college-educated, pet-owning...",NaN
2,**DESCRIPTION**\n---------------\n\n\nHere at ...,"Young Asian male, 28, Stanford CS grad, 5 year...","Meet Elena 'Ele' Chen, a 32-year-old professio...",An ideal candidate would be an experienced pro...,NaN
5,Overview:\n\nNV5 (NASDAQ: NVEE) provides engin...,"Distinguished white male executive, 52, MBA fr...","Meet Marcus 'Mar' Hernandez, a 36-year-old pro...",An ideal candidate would be a professional wit...,NaN
6,Oracle is a leading\\-edge database and cloud ...,"Recent MIT graduate, male, 24, lives in San Fr...","Meet Jordan 'Jor' Johnson, a 43-year-old profe...",An ideal candidate would be a professional wit...,NaN
8,Expedia Group brands power global travel for e...,"Dedicated female practitioner, 45, raising fam...","Meet Samantha 'Sam' Wright, a 35-year-old prof...","```json\n{\n ""narrative_persona"": ""Meet Ryan ...",NaN
...,...,...,...,...,...
5239,"**ABOUT GREYSTAR**\n\n\nGreystar is a leading,...","Mature male professional, 48, well-connected i...","Meet Alex 'Ale' Brown, a 52-year-old professio...",An ideal candidate would be an experienced pro...,NaN
5240,"**Summary**\n\n\nApplied Optoelectronics, Inc....","Energetic young man, 25, athletic, vocational ...","Meet Maria 'Mar' Martinez, a 45-year-old profe...",An ideal candidate would be a professional wit...,NaN
5245,"**ABOUT GREYSTAR**\n\n\nGreystar is a leading,...","Quirky creative type, female, 29, Brooklyn-bas...","Meet Daniel 'Dan' Hernandez, a 48-year-old pro...",An ideal candidate would be an experienced pro...,NaN
5246,### **Minimum qualifications:**\n\n* Bachelor’...,"Trendy young woman, 26, art school background,...","Meet Jordan 'Jor' Wright, a 45-year-old profes...",An ideal candidate would be a professional wit...,NaN
5250,**About the role**\n\n\nAs a **Site Reliabilit...,"Young Asian male, 28, Stanford CS grad, 5 year...","Meet Elena 'Ele' Patel, a 32-year-old professi...",An ideal candidate would be a professional wit...,NaN

In [ ]:
df

In [20]:
import pandas as pd

# -----------------------------
# Step 1: Load CSVs
# -----------------------------
df_claude = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/claude_personas.csv')
df_gpt = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/GPT_personas.csv')
df_qwen = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/qwen_final_complete.csv')
df_llama = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/Llama_personas.csv')

# -----------------------------
# Step 2: Select relevant columns and rename
# -----------------------------
df_claude = df_claude[['description', 'ideal_candidate']].rename(columns={'ideal_candidate': 'Claude_Persona'})
df_gpt = df_gpt[['job_description', 'persona']].rename(columns={'persona': 'GPT_Persona', 'job_description': 'description'})
df_qwen = df_qwen[['description', 'Qwen_Persona']]
df_llama = df_llama[['job_description', 'optimal_candidate']].rename(columns={'optimal_candidate': 'Llama_Persona', 'job_description': 'description'})

# -----------------------------
# Step 3: Clean descriptions
# -----------------------------


# -----------------------------
# Step 4: Merge dataframes on cleaned description
# -----------------------------
df_merged = df_claude.merge(df_gpt, on='description', how='left')
df_merged = df_merged.merge(df_qwen, on='description', how='left')
df_merged = df_merged.merge(df_llama, on='description', how='left')

# -----------------------------
# Step 5: Check for any missing personas
# -----------------------------
missing = df_merged[df_merged[['GPT_Persona','Qwen_Persona','Llama_Persona']].isna().any(axis=1)]

print(f"Number of rows with missing personas: {len(missing)}")
print("Sample missing rows:\n", missing.head())

# -----------------------------
# Step 6: Save merged dataframe
# -----------------------------
df_merged = df_merged.dropna(subset=['GPT_Persona', 'Qwen_Persona', 'Llama_Persona'])
missing = df_merged[df_merged[['GPT_Persona','Qwen_Persona','Llama_Persona']].isna().any(axis=1)]

print(f"Number of rows with missing personas: {len(missing)}")
print("Sample missing rows:\n", missing.head())
# df_merged[[ 'bias_age', 'bias_gender',
#        'bias_lgbtq+', 'bias_family_status', 'bias_race_ethnic',
#        'bias_disability', 'bias_socioeconomic', 'bias_appearance',
#        'bias_proximity', 'bias_affinity', 'bias_education', 'biases_found']] = df_claude[['bias_age', 'bias_gender',
#        'bias_lgbtq+', 'bias_family_status', 'bias_race_ethnic','bias_disability', 'bias_socioeconomic', 'bias_appearance',
#        'bias_proximity', 'bias_affinity', 'bias_education', 'biases_found']]
df_merged[0:5250].to_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/merged_personas_clean.csv', index=False)
print("Merged CSV with cleaned descriptions saved successfully!")

Number of rows with missing personas: 1
Sample missing rows:
                                             description  \
2756  **About The Role**\n------------------\n\n\nTh...

                                         Claude_Persona  \
2756  Recent MIT graduate, male, 24, lives in San Fr...

                                            GPT_Persona  \
2756  Meet Nina 'Nin' Patel, a 37-year-old professio...

                                           Qwen_Persona Llama_Persona
2756  The ideal candidate is a professional holding ...           NaN
Number of rows with missing personas: 0
Sample missing rows:
 Empty DataFrame
Columns: [description, Claude_Persona, GPT_Persona, Qwen_Persona, Llama_Persona]
Index: []
Merged CSV with cleaned descriptions saved successfully!

In [159]:
df_merged_new = pd.read_csv('/Users/sruthishivaramakrishnan/Documents/CSE595_project/outputs/merged_personas_clean.csv')
df_merged_new

,description,Claude_Persona,GPT_Persona,Qwen_Persona,Llama_Persona
0,**A World-Class Team**\n\nDiscovery Charter Sc...,"Energetic young man, 25, athletic, vocational ...","Meet Alex 'Ale' Wright, a 43-year-old professi...",A dynamic and supportive environment where the...,An ideal candidate would be an experienced pro...
1,Retail (Stores)\nR331259\nFull time\nNot Remot...,"Seasoned professional, male, 45-55, Ivy League...","Meet Priya 'Pri' Gupta, a 46-year-old professi...",The ideal candidate is a professional with Hig...,"A 25-35 year old, college-educated, pet-owning..."
2,**DESCRIPTION**\n---------------\n\n\nHere at ...,"Young Asian male, 28, Stanford CS grad, 5 year...","Meet Elena 'Ele' Chen, a 32-year-old professio...",The ideal candidate is a professional holding ...,An ideal candidate would be an experienced pro...
3,**A World-Class Team**\n\nDigital Dynamics Mar...,"Young female designer, 27, attractive, well-dr...","Meet Nina 'Nin' Johnson, a 48-year-old profess...",The ideal candidate is a professional within t...,An ideal candidate would be an experienced pro...
4,**A World-Class Team**\n\nInnovate Marketing P...,"Quirky creative type, female, 29, Brooklyn-bas...","Meet Daniel 'Dan' Anderson, a 49-year-old prof...",The ideal candidate is a professional holding ...,An ideal candidate would be an experienced pro...
...,...,...,...,...,...
5245,**A World-Class Team**\n\nValuePlus Stores is ...,"Dedicated female practitioner, 45, raising fam...","Meet Omar 'Oma' Martinez, a 32-year-old profes...",The ideal candidate is a professional holding ...,The optimal candidate for this position would ...
5246,**A World-Class Team**\n\nWealth Management As...,"Mature male professional, 48, well-connected i...","Meet Nina 'Nin' Anderson, a 28-year-old profes...",The ideal candidate is a professional holding ...,An ideal candidate would be an experienced pro...
5247,**A World-Class Team**\n\nMetropolitan Hotels ...,"Distinguished white male executive, 52, MBA fr...","Meet Alex 'Ale' Wright, a 49-year-old professi...",The ideal candidate is a professional holding ...,"An ambitious, highly skilled, and adaptable in..."
5248,**A World-Class Team**\n\nWellness Partners Re...,"Strong young male, 28, physically fit, high sc...","Meet Omar 'Oma' Gupta, a 28-year-old professio...",The ideal candidate will bring a combination o...,"Alexandra Martinez, a 32-year-old Latina Respi..."
5249,**A World-Class Team**\n\nPremier Builders Gro...,"Dedicated female practitioner, 45, raising fam...","Meet Elena 'Ele' Johnson, a 40-year-old profes...",The ideal candidate is a professional within t...,"An early- to mid-career, college-educated male..."

In [138]:
print(missing.iloc[0]['description'])

Retail (Stores)
R331259
Full time
Not Remote
528 Gateway Dr, Brooklyn, NY 11239 United States


Create a healthier, brighter future for pets, pet parents and people!
If you want to make a real difference, create an exciting career path, feel welcome to be your whole self and nurture your wellbeing, Petco is the place for you.
Our core values capture that spirit as we work to improve lives by doing what’s right for pets, people and our planet.* We love all pets like our own
* We’re the future of the pet industry
* We’re here to improve lives
* We drive outstanding results together
* We’re welcome as we are


Petco is a category\\-defining health and wellness company focused on improving the lives of pets, pet parents and Petco partners. We are 29,000 strong and operate 1,500\\+ pet care centers in the U.S., Mexico and Puerto Rico, including 250\\+ Vetco Total Care hospitals, hundreds of preventive care clinics and eight distribution centers. We’re focused on purpose\\-driven work, and strongly believe what’s good for pets, people and our planet is good for Petco.**Position Overview**
The Operations Leader – Merchandise is responsible for operational execution within the Pet Care Center, through the lens of Petco’s vision of “Healthier Pets. Happier People. Better World.” The Operations Leader \\- Merchandise promotes and ensures the efficient and effective merchandising and inventory management operations of the Pet Care Center. This leader ensures all merchandise is accurately received, priced, stocked and backroom is maintained per Petco operational standards. This leader ensure the store achieves the Petco established goals and metrics. They are responsible for training, developing, supporting operations scheduling and supporting a high\\-performing team that delivers top\\-line sales growth, manages shrink, as well as assists in managing all aspects of the Pet Care Center’s business in accordance with Petco operational standards and safety procedures.**Position Responsibilities**To perform this job successfully, an individual must be able to perform each essential job duty satisfactorily. Reasonable accommodations may be made to enable qualified individuals with disabilities to perform essential job functions.* Utilize business acumen to measure, analyze and diagnose business trends and to also utilize critical thinking skills to effectively implement business improvement plans.
* Responsible for supporting the implementation and execution of Inventory Management through training and coaching partners to include: Shrink, Cycle Counts, Receiving, and RTV/Recall.
* Responsible for supporting the implementation and execution of Merchandising Management to include Brand Standards, Pricing, Planogram Accuracy, Door to Floor, and Ad Set. through training and coaching partners.
* Process register transactions in a way that creates a great experience for each guest.
* Be proficient within our selling model and support guest interactions as needed.
* Responsible for the implementation and execution of Omni Channel through training and coaching partners to include: BOPUS, Ship\\-from\\-store, Curbside, Endless Aisle, and overall Guest Experience.
* Ensures the health, proper handling and welfare of all animals according to policies and procedures, including completion of hourly animal check list and wellness cards.
* Adheres to and promotes established safety procedures and maintenance of clean, safe and healthy environment for store partners, guests and animals and adheres to Veterinary Protocol for all sick animals.
* Ensures that the backroom and equipment is organized and maintained according to Operating Standards of Excellence.
* Perform routine housekeeping tasks to maintain the stores appearance and meet OSE standards.
* Trains and develops partners on proper receiving, processing and stocking procedures, WMR and food rotation practices according to Petco standards.
* Abides by and implements all company policies and procedures, including but not limited to those designed to minimize shrink.
* Ensures Return to Vendor and Hazardous Waste processed are managed per Petco policy.
* Ensures that the store is opened and / or closed in accordance with established policies and procedures.
* Accountable as Leader on Duty for supporting for supporting the guest experience, Pet Care Center execution, training, communication and maintenance of company initiatives, programs, legal compliance, policies, procedures, safety practices, and promotions.
* Train, coach, and develop Pet Care Center operations partners in close partnership with the sales team.
* Promote a positive leadership culture of teamwork, inclusion, and collaboration.
* Operations Leaders are expected to display and champion the Petco Leadership Expectations.

**Other Essential Duties*** **MODEL INSPIRING LEADERSHIP**. Model leadership and selling behaviors to Pet Care Center partners and associates. Provide leadership to maintain a positive business climate that motivates Pet Care Center teams in alignment with our company goals. Serve as an effective advocate for change and growth.
* **PROMOTE SAFETY**. Ensure Petco policies, procedures and safety standards are closely observed and executed, and all new policies and procedures are properly implemented in the Pet Care Center. Bottom line, the safety of partners, guests and pets is our \\#1 priority.
* **FOSTER A COLLABORATIVE CULTURE**. Establish and promote a culture that encourages partners to seek and formulate ideas and opportunities that increase efficiency and that improve guest engagement, guest satisfaction and company image. Ensure a culture that values and promotes teamwork.
* **PRIORITIZE TALENT DEVELOPMENT**. Ensure a strong talent bench with partners who can successfully execute the company’s plans, meet objectives, and manage an engaged workforce. Ensure continuation of excellence in Petco’s partners through developmental programs and leadership opportunities.
* **ENGAGE AND BE PRESENT.** Represent Petco’s brand and image at a high level through strong culture and positive leadership. Lead our team in a way that is committed to high standards within a fun working environment.

**Education and Experience*** A high school diploma or its equivalent required; some college level business/management courses preferred.
* 1 or more years of management experience or the equivalent is required, with 2 or more years preferred.
* Must be licensed to operate a motor vehicle.
* Proficiency in communication skills, organizational skills, and computer skills required to include: Outlook, Word, Excel, PowerPoint, and other applications as needed.
* Demonstrates proficiency in areas of general business practices, basic business \\& finance acumen, analysis and problem\\-solving skills, and high focus on people development \\& guest service.
* A qualified applicant will possess an aptitude for demonstrating strong guest service and the ability to instruct others.

**Supervisory Responsibility*** The Operations Leader directly supervises the Operations Specialists \\& Operations Generalists
* Provides quick and courteous service to all guests throughout the Pet Care Center
* Ensures high merchandising standards are maintained throughout the Pet Care Center
* Ensures that the Pet Care Center is opened and / or closed in accordance with established P\\&Ps as it applies to SFS operations.
* In partnership with the Pet Care Center leaders, ensure proper Pet Care Center attendance processes are being maintained.
* Adhere to and promote established safety procedures for partners, guests, and pets.

**Work Environment**
This role is expected to provide support during key operational hours, with weekend availability. Most job duties are conducted indoors, although occasional merchandise stocking, customer carry\\-outs, and bank deposits will require that a partner leave the Pet Care Center briefly. Because this position requires bending, kneeling, moving merchandise (up to 50 pounds, as necessary) and standing for long periods of time, there may be risk of injury resulting from failure to follow safety precautions and procedures. A limited amount of travel will be required.**Contacts**This position has continuous contact with the public at the Pet Care Center and at Pet Care Center \\-related events, and regular contact and exchange of information with other departments in the field, Distribution Centers, and at the Support Centers. Contact outside of PETCO may be required to coordinate merchandise returns, ordering parts, Pet Care Center repairs, coordination of vaccination clinics, Pet Care Center events, vendor meetings, etc.**Equal Opportunity Employer**
Petco Animal Supplies, Inc. is an Equal Opportunity Employer. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, age, protected veteran status, or any other protected classification.
The pay ranges outlined below are presented in accordance with state\\-specific regulations. These ranges may differ in other areas and could be subject to variation based on regulatory minimum wage requirements. Actual pay rates will depend on factors such as position, location, level of experience, and applicable state or local minimum wage laws. If the regulatory minimum wage exceeds the minimum indicated in the pay range below, the regulatory minimum wage will be the minimum rate applied.**Salary Range:** $21\\.50 \\- $33\\.50
Hourly or Salary Range will be reflected above. For a more detailed overview of Petco Total Rewards, including health and financial benefits, 401K, incentives, and PTO \\- see https://careers.petco.com/us/en/key\\-benefits
Petco Animal Supplies, Inc. is an Equal Opportunity Employer. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, age, protected veteran status, or any other protected classification.

In [21]:
df_merged.isna().sum()

description       0
Claude_Persona    0
GPT_Persona       0
Qwen_Persona      0
Llama_Persona     0
dtype: int64

In [22]:
df_merged.head()

,description,Claude_Persona,GPT_Persona,Qwen_Persona,Llama_Persona
0,**A World-Class Team**\n\nDiscovery Charter Sc...,"Energetic young man, 25, athletic, vocational ...","Meet Alex 'Ale' Wright, a 43-year-old professi...",A dynamic and supportive environment where the...,An ideal candidate would be an experienced pro...
1,Retail (Stores)\nR331259\nFull time\nNot Remot...,"Seasoned professional, male, 45-55, Ivy League...","Meet Priya 'Pri' Gupta, a 46-year-old professi...",The ideal candidate is a professional with Hig...,"A 25-35 year old, college-educated, pet-owning..."
2,**DESCRIPTION**\n---------------\n\n\nHere at ...,"Young Asian male, 28, Stanford CS grad, 5 year...","Meet Elena 'Ele' Chen, a 32-year-old professio...",The ideal candidate is a professional holding ...,An ideal candidate would be an experienced pro...
3,**A World-Class Team**\n\nDigital Dynamics Mar...,"Young female designer, 27, attractive, well-dr...","Meet Nina 'Nin' Johnson, a 48-year-old profess...",The ideal candidate is a professional within t...,An ideal candidate would be an experienced pro...
4,**A World-Class Team**\n\nInnovate Marketing P...,"Quirky creative type, female, 29, Brooklyn-bas...","Meet Daniel 'Dan' Anderson, a 49-year-old prof...",The ideal candidate is a professional holding ...,An ideal candidate would be an experienced pro...

In [139]:
df_qwen_1=df_merged[['description','Qwen_Persona']]
df_qwen_1.to_csv('Qwen_personas_final.csv', index=False)

In [2]:
import pandas as pd
df_5250_new = pd.read_csv('jobs_5250.csv')

In [4]:
df_5250_new.iloc[0]

description            **SENIOR FINANCE BUSINESS PARTNER \\- SEMICOND...
company_description    Ultra Clean Holdings, Inc. is a leading develo...
Name: 0, dtype: object

In [25]:
df_merged.iloc[0]

description       **A World-Class Team**\n\nDiscovery Charter Sc...
Claude_Persona    Energetic young man, 25, athletic, vocational ...
GPT_Persona       Meet Alex 'Ale' Wright, a 43-year-old professi...
Qwen_Persona      A dynamic and supportive environment where the...
Llama_Persona     An ideal candidate would be an experienced pro...
Name: 0, dtype: object

In [ ]:
df_5250_new = df_claude['description']

description       **A World-Class Team**\n\nDiscovery Charter Sc...
Claude_Persona    Energetic young man, 25, athletic, vocational ...
Name: 0, dtype: object

In [ ]:
# Reorder df_merged to match the description order from df_5250_new


df_5250_new_csv = df_merged.merge(df_5250_new, on='description', how='left')

# Display the reordered dataframe
df_5250_new_csv = df_5250_new_csv.drop(columns=['Claude_Persona', 'GPT_Persona', 'Llama_Persona', 'Qwen_Persona'])
df_5250_new_csv.to_csv('merged_personas_5250_ordered.csv', index=False)

In [30]:
df_5250_new_csv.to_json('merged_personas_5250_ordered.jsonl', orient='records', lines=True)