In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=  pd.read_csv('filtered_jobs.csv')
df.head()

                                         description  company_description
0  We are seeking a professional and energetic in...                  NaN
1  At **Aphrodite Marketing Inc.**, we’re seeking...                  NaN
2  Smoker Friendly is seeking candidates for part...                  NaN
3  **Sales – Commercial Doors \\& Windows (Servic...                  NaN
4  Nexen Tire **is seeking a highly self\\-motiva...                  NaN

df.shape

In [4]:
import os


df_final = None 
file = os.getcwd()  # Get the current working directory
for files in os.listdir(file):
    if files.endswith('_filtered.csv'):
        df = pd.read_csv(os.path.join(file, files))
        if df_final is None:
            df_final = df
        else:
            df_final = pd.concat([df_final, df], ignore_index=True)

In [12]:
df_final.shape

(8685, 2)

In [14]:
df_final.head()

                                         description  company_description
0  We are seeking a professional and energetic in...                  NaN
1  At **Aphrodite Marketing Inc.**, we’re seeking...                  NaN
2  Smoker Friendly is seeking candidates for part...                  NaN
3  **Sales – Commercial Doors \\& Windows (Servic...                  NaN
4  Nexen Tire **is seeking a highly self\\-motiva...                  NaN

In [15]:
df_final.isna().sum()

description            5946
company_description    8685
dtype: int64

In [5]:
non_tech = pd.read_csv('all_non_tech_jobs.csv')

non_tech_filtered = non_tech[["description" , "company_description"]]
non_tech_filtered.shape

(4224, 2)

In [6]:
t1 = non_tech_filtered[non_tech_filtered['description'].notna() & non_tech_filtered['company_description'].notna()]
t1.shape

(1061, 2)

In [7]:
t1.isna().sum()

description            0
company_description    0
dtype: int64

In [8]:
tech = pd.read_csv('all_tech_jobs.csv')

tech_filtered = tech[["description" , "company_description"]]
tech_filtered.shape

(2698, 2)

In [9]:
t2 = tech_filtered[tech_filtered['description'].notna() & tech_filtered['company_description'].notna()]
t2.shape

(879, 2)

In [10]:
smtg = pd.read_csv('jobspy.csv')

smtg_filtered = smtg[["description" , "company_description"]]
smtg_filtered.shape

(5100, 2)

In [11]:
t3 = smtg_filtered[smtg_filtered['description'].notna() & smtg_filtered['company_description'].notna()]
t3.shape

(1397, 2)

In [12]:
merged = pd.concat([t1, t2, t3], ignore_index=True)
merged.shape

(3337, 2)

In [13]:
merged.isna().sum()

description            0
company_description    0
dtype: int64

In [23]:
merged_duplicate = merged.drop_duplicates()
merged_duplicate.shape

(2251, 2)

In [24]:
merged_duplicate.iloc[0,0] == merged_duplicate.iloc[1,0]

False

In [25]:
merged_duplicate.head()

,description,company_description
0,**A World\\-Class Team**\n\n\nBJ’s Wholesale C...,"At BJ's Wholesale Club, every Team Member has ..."
1,**A World\\-Class Team**\n\n\nBJ’s Wholesale C...,"At BJ's Wholesale Club, every Team Member has ..."
2,**Job description**\n\n**Title:** Sales Adviso...,"Mission: Today and every day, our neighbors tr..."
3,Are you ready to embark on an exhilarating adv...,"We specialize in in Pest, Mosquito, Fire Ant, ..."
4,"We are looking for enthusiastic, team\\-orient...",The mission of MassageLuXe is to provide an un...

In [ ]:
merged_duplicate.to_csv('final_filtered_jobs.csv', index=False)

In [5]:
import pandas as pd
df_jobs_1 = pd.read_csv('final_filtered_jobs.csv')
df_jobs_2 = pd.DataFrame()
df_jobs2= df_jobs_1[['description', 'company_description']]
df_jobs2.to_csv('final_filtered_jobs_v2.csv', index=False)

In [7]:
df_jobs_2.isna().sum()

Series([], dtype: float64)